.infophuket {
    padding: 4rem;
    background: #fff;
    margin: 0 auto
  }

  h1 {
    text-align: center;
  }
  
  .map{
    width: 450px;
    height: 650px;
    box-shadow: 6px 6px 120px rgba(9, 10, 10, 0.17);
  }
  .Text{
    font-size: 16px;
  }