.Table {
    position: absolute;
    bottom: 8px;
    left: 0px;
    max-width: 1190px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    line-height: 2;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    top: 10px;
    
    
    
  }

  .tableCancel{
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.rating
{
  color: #f7d934;
  font-size: 11px;
  
}

